<div class="information">
	<div class="column">
		<img src="public/img/logoWhite.svg" alt="Logo van Matise">
		<p>Stageverslag Cyd Stumpel<br>
			Frontend Developer</p>
			<p>info@cydstumpel.nl</p>
	</div>

	<div class="column">
	<h2>Communicatie & Multimedia Design</h2>
	<p>Hogeschool van Amsterdam<br>
		500704550</p>
	</div>
	<div class="column">
		<p>
			Stagedocent: Laura van der Vlies <br>
			Stagebegeleider: Maurits Meester<br>
			05.01.2017
		</p>
	</div>
	<a href="#inhoud" class="bekijk">Bekijk stageverslag</a>
</div>
