<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Stageverslag Cyd Stumpel</title>
		<link rel="stylesheet" href="public/css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Muli:400,700" rel="stylesheet">
	</head>
	<body>
		<section class="home">
			<%- include('home') %>
		</section>
		<section class="toc">
			<aside class="table-of-contents">
				<%- include('toc') %>
			</aside>
			<article class="showcase">
				<%- include('content') %>
			</article>
		</section>
	</body>
</html>
