@import 'functions';
@import 'partials/fonts';
@import 'partials/header';
@import 'partials/toc';
@import 'partials/showcase';
@import 'partials/content';
@import 'partials/animation';



// Generic Styles
*{ font-family: "Muli", sans-serif; box-sizing: border-box;}
body{ width: grid(24); margin: 0;}

.grey{ color: #999;}

@media(max-width: 1190px) {
	.table-of-contents{ display: none;}
	.showcase{ width: 100vw; position: relative; grid-template: repeat(4, 1fr)/ repeat(5, 1fr);
		&--item { grid-area: var(--smallrowstart) / var(--smallcolumnstart) / var(--smallrowspan) / var(--smallcolumnspan); transition: 1s;
			a{ color: white; position: absolute; padding: 1rem; font-size: 1rem; height: 100%; width: 100%; box-sizing: border-box; text-decoration: none; letter-spacing: .1rem;
				span{ position: relative;
					&:before{ content: ''; position: absolute; height: 0;  width: 5px; background: teal; transition: 1s; }
				}
			}
			&:hover{ border-radius: 5px;
				a{ transition: 1s; background: rgba(0,0,0,.5); border-radius: 5px;
					span{ position: relative; animation: epictext .5s forwards;
						&:before{ animation: epicborder .5s forwards; }
					}
				}
			}
		}
	}
}
@media(max-width: 700px) {
	.showcase{ grid-template: repeat(8, 1fr) / 1fr; grid-gap: rem(10);
		&--item{ grid-area: auto;}
	}
}
